<!-- Beg: Fixed Navbar //-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">MSAN 622</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.title == 'Home' %}class="active"{% endif %}>
                    <a href="{{ site.url }}/">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>

                <li {% if page.title == 'Syllabus' %}class="active"{% endif %}>
                    <a href="{{ site.url }}/syllabus.html">
                        <i class="fa fa-list"></i> Syllabus
                    </a>
                </li>

                <li {% if page.title == 'Schedule' %}class="active"{% endif %}>
                    <a href="{{ site.url }}/schedule.html">
                        <i class="fa fa-calendar"></i> Schedule
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/msan622/">
                        GitHub&nbsp;&nbsp;<i class="fa fa-github-alt"></i>
                    </a>
                </li>

                <li>
                    <a href="https://usfca.instructure.com/courses/1217225">
                        Canvas&nbsp;&nbsp;<i class="fa fa-external-link"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End: Fixed Navbar //-->
